/* Titulo */

@font-face {
  font-family: "Monoton";
  src: local("Monoton"), local("Monoton-Regular"),
    url(http://themes.googleusercontent.com/static/fonts/monoton/v4/AKI-lyzyNHXByGHeOcds_w.woff)
      format("woff");
}

.title {
  font-weight: 600;
  text-align: center;
  font-size: 1.9em;
  margin: 20px 0 20px 0;
}

.title {
  color: black;
  font-family: Monoton;
}

.home-ui-seo-cards {
  display: flex;
  gap: 2px;
}
.card_help {
  background-color: white;
  border: solid 1px;
  border-radius: 5px;
  padding: 10px;
}

.conteiner_card_help {
  display: flex;
  gap: 8px;
}

.travel-about_conteiner {
  margin: 3rem 0;
}
.travel-about_p {
  font-family: Rubik, Arial, sans-serif;
  letter-spacing: -0.1px;
}

.travel-about_h2 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.travel-about_h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
}
