<div class="travel-about_conteiner">
  <div>
    <h2 class="travel-about_h2">Comprá en Travenly todo para tu viaje</h2>
    <div>
      <div class="conteiner_card_help">
        <div class="card_help">
          <h3 class="travel-about_h3">¿Cómo comprar en Travenly?</h3>
          <hr />
          <p class="home-ui-seo-card-text">
            En Travenly podés comprar todo para tus vacaciones muy fácilmente.
            Primero, ingresá la información de tu viaje en el buscador. Compará
            entre cientos de opciones y elegí la que más te guste desde el botón
            Comprar. Cargá los datos de los pasajeros, seleccioná tu medio de
            pago y completá la información requerida. ¡Aprovechá las promociones
            bancarias de Travenly! Por último, tocá nuevamente en Comprar y
            ¡listo! Te mandamos los vouchers por mail y ya podés empezar a
            disfrutar tu viaje.
          </p>
        </div>
        <!-- "2 do div" -->
        <div class="card_help">
          <h3 class="travel-about_h3">
            Documentación necesaria para comprar y viajar
          </h3>
          <hr />
          <p class="travel-about_p">
            Para comprar tu viaje en Travenly tené a mano el número de documento
            de identidad, el nombre, el apellido y la fecha de nacimiento de
            cada uno de los pasajeros. Antes de viajar, revisá el detalle de tu
            reserva en Mi Cuenta para conocer las visas y vacunas exigidas en el
            país de destino. Esto incluye las escalas, conexiones, tours y
            paradas que hagas durante tu viaje. Si un menor viaja solo o
            acompañado, deberá contar con una autorización obligatoria para
            salir del país.
          </p>
        </div>
        <!-- 3er div -->
        <div class="card_help">
          <h3 class="travel-about_h3">
            ¿Se puede modificar o cancelar una compra?
          </h3>
          <hr />
          <p>
            En Travenly podés gestionar el cambio o la cancelación de una
            reserva, aunque tené en cuenta que algunos proveedores o tarifas no
            lo permiten o cobran un costo adicional por hacerlo. En vuelos,
            hoteles y autos, solo podés hacer cambios con el mismo proveedor.
            También podés cancelar una reserva para todos o algunos de los
            pasajeros. Lo que no podés hacer es cambio de titularidad a otra
            persona. Recordá revisar las políticas de cambio y cancelación de tu
            reserva en Mi Cuenta.
          </p>
        </div>
        <!-- 4to div  -->
        <div class="card_help">
          <h3 class="travel-about_h3">
            ¿Por qué elegir Travenly para tu viaje?
          </h3>
          <hr />
          <p>
            Travenly es una de las agencias de viaje con más trayectoria de
            Latinoamérica, reconocida y recomendada por miles de viajeros de
            todo el continente. Aprovechá nuestras ofertas y promociones de
            viaje y recorré el mundo entero. Comprá tu viaje en Travenly
            Argentina desde la web, la app o por Travenly teléfono: 0810 810
            9994. ¿Tenés dudas o necesitás ayuda? Podés llamarnos en todo
            momento al centro de Travenly atención al cliente y viajá con la
            confianza de saber que estamos con vos.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="home-ui-module home-ui-trackable-module">
  <div class="eva-3-container home-ui-seo-cards-container home-box-mb">
    <h2>Comprá en Travenly todo para tu viaje</h2>
    <div class="home-ui-seo-cards-wrapper">
      <div class="conteiner_card_help">
        <div class="card_help">
          <h3>¿Cómo comprar en Travemly?</h3>
          <p class="home-ui-seo-card-text">
            En Travenly podés comprar todo para tus vacaciones muy fácilmente.
            Primero, ingresá la información de tu viaje en el buscador. Compará
            entre cientos de opciones y elegí la que más te guste desde el botón
            Comprar. Cargá los datos de los pasajeros, seleccioná tu medio de
            pago y completá la información requerida. ¡Aprovechá las promociones
            bancarias de Travenly! Por último, tocá nuevamente en Comprar y
            ¡listo! Te mandamos los vouchers por mail y ya podés empezar a
            disfrutar tu viaje.
          </p>
        </div>
        <!-- "2 do div" -->
        <div class="card_help">
          <h3>Documentación necesaria para comprar y viajar</h3>
          <p>
            Para comprar tu viaje en Travenly tené a mano el número de documento
            de identidad, el nombre, el apellido y la fecha de nacimiento de
            cada uno de los pasajeros. Antes de viajar, revisá el detalle de tu
            reserva en Mi Cuenta para conocer las visas y vacunas exigidas en el
            país de destino. Esto incluye las escalas, conexiones, tours y
            paradas que hagas durante tu viaje. Si un menor viaja solo o
            acompañado, deberá contar con una autorización obligatoria para
            salir del país.
          </p>
        </div>
        <!-- 3er div -->
        <div class="card_help">
          <h3>¿Se puede modificar o cancelar una compra?</h3>
          <p>
            En Travenly podés gestionar el cambio o la cancelación de una
            reserva, aunque tené en cuenta que algunos proveedores o tarifas no
            lo permiten o cobran un costo adicional por hacerlo. En vuelos,
            hoteles y autos, solo podés hacer cambios con el mismo proveedor.
            También podés cancelar una reserva para todos o algunos de los
            pasajeros. Lo que no podés hacer es cambio de titularidad a otra
            persona. Recordá revisar las políticas de cambio y cancelación de tu
            reserva en Mi Cuenta.
          </p>
        </div>
        <!-- 4to div  -->
        <div class="card_help">
          <h3>¿Por qué elegir Travenly para tu viaje?</h3>
          <p>
            Travenly es una de las agencias de viaje con más trayectoria de
            Latinoamérica, reconocida y recomendada por miles de viajeros de
            todo el continente. Aprovechá nuestras ofertas y promociones de
            viaje y recorré el mundo entero. Comprá tu viaje en Travenly
            Argentina desde la web, la app o por Travenly teléfono: 0810 810
            9994. ¿Tenés dudas o necesitás ayuda? Podés llamarnos en todo
            momento al centro de Travenly atención al cliente y viajá con la
            confianza de saber que estamos con vos.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
