.title {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 2.4em;
  margin: 20px 0 20px 0;
}
/*------------- Carrito Vacio------------ */
.card {
  height: 60vh;
  margin: 25px;
  padding: 25px;
}
.center {
  text-align: center;
}
.center img {
  outline: none;
  width: 170px;
  height: 100px;
  text-decoration: none;
  margin: 30px 0px;
}
