<h3>Carrito de compras</h3>

<div *ngIf="cartList$ | async" class="col-3">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">name</th>
        <th scope="col">date</th>
        <th scope="col">duration</th>
        <th scope="col">price</th>
        <th scope="col">cant</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let travel of cartList$ | async">
        <td>{{ travel.name }}</td>
        <td>{{ travel.start_date | uppercase }}</td>
        <td>{{ travel.duration }}</td>
        <td>{{ travel.price | currency }}</td>
        <td>Cant: {{ travel.quantity }}</td>
      </tr>
    </tbody>
  </table>
</div>
