/* Titulo */

@font-face {
  font-family: "Monoton";
  src: local("Monoton"), local("Monoton-Regular"),
    url(http://themes.googleusercontent.com/static/fonts/monoton/v4/AKI-lyzyNHXByGHeOcds_w.woff)
      format("woff");
}

.title {
  font-weight: 600;
  text-align: center;
  font-size: 1.9em;
  margin: 20px 0 20px 0;
}

.title {
  color: black;
  font-family: Monoton;
}
