<div class="row">
  <div class="col-1 bg-dark border-right p-3" id="sidebar">
    <div class="container">
      <p>
        <a [routerLink]="['travels']"> {{ title }} 2022 </a>
      </p>
    </div>
    <hr class="text-white" />
    <div class="list-group list-reset">
      <a
        [routerLink]="['travels']"
        class="list-group-item list group-item-action"
      >
        <i class="fas fa-shipping-fast"> </i>
        Home
      </a>
      <a [routerLink]="['cart']" class="list-group-item list group-item-action">
        <i style="font-size: 15px" class="fas fa-cart-plus"></i>
        <div class="badge bg-danger">{{ totalItemNumber }}</div>
      </a>
      <a
        [routerLink]="['about']"
        class="list-group-item list group-item-action"
      >
        About
      </a>
    </div>
  </div>

  <!-------------- End Sidebar ------------>
  <div class="container-cart col-9 container">
    <router-outlet></router-outlet>
  </div>
  <footer class="footer-bottom text-center bg-dark">
    <div class="footer-content">
      <span class="text-white"> {{ title }} 2022 </span>
    </div>
  </footer>
</div>
