<div class="containerTable mb-5">
  <div class="bg-opacity">
    <div class="content">
      <h1 class="title">Nuestros paquetes de viajes mas solicitados</h1>
    </div>
  </div>
  <div
    class="row my-5 cards-sponsor row-cols-1 row-cols-md-4 g-3 card-container"
  >
    <div *ngFor="let travel of travels" class="col">
      <!-------- Condicion si hay stock------->
      <div
        class="card h-100 animate__animated animate__pulse"
        [ngClass]="{ card__sale: travel.clearance }"
      >
        <img
          [src]="travel.image"
          [alt]="travel.name"
          class="card-img-top card-container__img"
          width="150"
          height="140"
        />
        <div class="card-body">
          <p class="card-container__trip-name">Viaje a {{ travel.name }}</p>
          <div class="card-container__date">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-calendar-check"
              viewBox="0 0 16 16"
            >
              <path
                d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"
              />
              <path
                d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"
              />
            </svg>
            <p class="my-0">Fecha: {{ travel.start_date | date }}</p>
          </div>
          <div class="card-container__duration">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-clock"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"
              />
              <path
                d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"
              />
            </svg>
            <p class="my-0">Duracion: {{ travel.duration }} dias</p>
          </div>
          <p class="card-container__price">{{ travel.price | currency }}</p>
          <hr />
          <ng-container *ngIf="travel.stock > 0">
            <!--------- modulo de cantidad -->
            <app-input-integer
              [(quantity)]="travel.quantity"
              [max]="travel.stock"
              *ngIf="travel.stock"
              (maxReached)="maxReached($event)"
            >
            </app-input-integer>
            <button class="card-container__btn-pay" (click)="addToCart(travel)">
              AGREGAR
            </button>
          </ng-container>
          <!----------------Si no hay stock------------->
          <ng-container *ngIf="travel.stock < 1">
            <p class="p-badge">
              <span
                class="badge text-bg-warning mx-0 card-container__btn-pay"
                *ngIf="travel.stock == 0"
              >
                Sin Stock</span
              >
            </p>
          </ng-container>
        </div>
      </div>

      <!-- figure 2  -->
    </div>
  </div>
</div>
