<div class="containerTable mb-5">
  <div><h3>Nuestro Paquetes de viajes mas solicitado</h3></div>
  <div class="row my-5 cards-sponsor row-cols-1 row-cols-md-4 g-3">
    <div *ngFor="let travel of travels" class="col">
      <div class="card h-100 animate__animated animate__pulse">
        <img
          [src]="travel.image"
          [alt]="travel.name"
          class="card-img-top"
          width="150"
          height="140"
        />
        <div [ngClass]="{ clearance: travel.clearance }" class="card-body">
          <p>Viaje a : {{ travel.name }}</p>
          <p>{{ travel.price | currency }}</p>
          <p>Duracion : {{ travel.duration }} dias</p>
          <p>Fecha :{{ travel.start_date }}</p>
          <!-- modulo de cantidad -->
          <app-input-integer
            [(quantity)]="travel.quantity"
            [max]="travel.stock"
            *ngIf="travel.stock"
            (maxReached)="maxReached($event)"
          >
          </app-input-integer>
          <button class="btn-pay btn-dark" (click)="addToCart(travel)">
            AGREGAR
          </button>
          <p class="p-badge">
            <span class="badge text-bg-warning" *ngIf="travel.stock == 0">
              Sin Stock</span
            >
          </p>
        </div>
      </div>
    </div>
    <!-- figure 2  -->
  </div>
</div>
